node_modules/
web/dist/*
!web/dist/.gitkeep

# Build artifacts
bin/
labubu.exe

# Local data
data/

# Superpowers
.superpowers/

# Python
labubu-python/dist/
labubu-python/labubu/bin/
labubu-python/*.egg-info/
labubu-python/labubu.egg-info/
